<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Users</h1>
    <ol>
        
        {% for user in users %}
        <li>
            <p>title: {{user.title}} </p>
            <p>description: {{user.description}}</p>
        </li>
        {% endfor %}
    </ol>

    <p>
        Click <a href="{{url_for('index')}}">here</a> for main page
    </p>
    
</body>
</html>